<div class="card">
    <div class="card-header">
       <h4><p class="button" href="/post/{{id}}">{{title}}</p></h4>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
        <p class="card-body">{{post_url}}</p>
</div>